/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap");
/*@import "carbon-components/scss/globals/scss/styles";

@import "../../styles/dist/carbon-aux.css";*/

* {
  font-family: "IBM Plex Sans", sans-serif;
}
