#gray-line {
    background-color: #E0E0E0;
    height: 1px;
    width: 100%;
}

.resource-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color:#0062fe
    
}
  
#transparent-button {     
    width: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    padding-bottom: 16px;
    padding-top: 16px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

a {
    background-color: crimson;
    width: 500px;
}